body{
  background-color: #F2F9FF;
  text-align:center;
}
h1{
text-align: center;
font-family: 'Press Start 2P', cursive;
font-size: 40px;
-webkit-text-stroke: 0.5px;
-webkit-text-stroke-color: #B9B2DC;
color: #FEFFD9;
}
p{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #B9B2DC;
  color: #edd9ff;
}
img {
  display: block;
margin-right:auto;
  margin-left:auto;
  max-width: 100%;
  text-align:center;
}
iframe{
  border: none;
  text-align: center;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #F2F9FF;
  padding:10px;
}
.grid-item{
  background-color: #F2F9FF;
  border: 1px splid rgba(0,0,0,0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
font-family: 'Press Start 2P', cursive;
-webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #B9B2DC;
  color: #FEFFD9;
  background-color: #DAD9FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #bcb1f0;
}

.button:hover {background-color: #C9F0F1}

.button:active {
  background-color: #C9F0F1;
  box-shadow: 0 5px #bcb1f0;
  transform: translateY(4px);
}
